.login-button{
    position: relative;
    transition: all 0.3s ease;
    width: 10.8rem;
    height: 3rem;
    font-size: 1.3rem;
    font-family: "SansMedium",sans-serif;
    border-radius: 6px;
    border:none;
    margin-top: 0.5rem;

    box-shadow: rgba(0,0,0, 0.25) 0 0 0.75rem;

    background-color: #383838;
    color: #eee;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/button-texture.png");
}

.login-button[data-icon]::after{
    content: "";
    position: absolute;
    left: 0.6rem;
    width: 0.8rem;
    height: 60%;
    clip-path: polygon(0 0,35% 0,35% 100%,0 100%);
    background-color: #fffa00;
    transition: all 0.3s ease;

}

.login-button:hover{
    color: #fff;
    border-radius: 12px ;
    background-color: #505050;
}

.login-button:hover::after{
    clip-path: polygon(0 20%,100% 50%,0 80%,0 80%);
    transform: translateX(0.5rem);
}

.login-button:focus{
    outline: none;
}